
<div class="sidebar-wrapper">
  <div class="logo">
      <img src="assets/img/ems-logo.png">
  </div>

  <ul class="nav">
     
      <li routerLinkActive="active" >
        <a [routerLink]="['/employees']">
          <i class="fa fa-users" aria-hidden="true"></i>

          <p>Employees List</p>
      </a>
    </li>
    <li routerLinkActive="active" >
      <a [routerLink]="['/add-employee']">
        <i class="fa fa-user-plus" aria-hidden="true"></i>

        <p>Add Employee</p>
    </a>
  </li>
    </ul>
 
</div>
